Source: proyecthor
Section: video
Priority: optional
Maintainer: Vixcho <162904481+TheVixcho@users.noreply.github.com>
Build-Depends: debhelper-compat (= 13),
               cmake,
               ninja-build,
               pkg-config,
               git,
               libglfw3-dev,
               libgl1-mesa-dev
Standards-Version: 4.6.2
Homepage: https://proyecthor.web.app

Package: proyecthor
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libglfw3, libgl1
Recommends: yt-dlp, zenity
Description: Reproductor multimedia con VLC + OpenGL + ImGui
 ProyecThor es un reproductor multimedia basado en libVLC para el
 video/audio, OpenGL para el render y Dear ImGui para la interfaz.
