[Desktop Entry]
Type=Application
Name=ProyecThor
Comment=Reproductor multimedia con VLC + OpenGL
Exec=proyecthor %U
Icon=proyecthor
Terminal=false
Categories=AudioVideo;Player;Graphics;
MimeType=audio/mpeg;audio/flac;audio/x-flac;audio/x-wav;audio/wav;audio/ogg;audio/aac;audio/mp4;audio/x-ms-wma;audio/opus;audio/x-aiff;video/mp4;video/x-matroska;video/x-msvideo;video/quicktime;video/webm;
